<p><strong>Department Chair:</strong><br>
Professor Cathy Rosen<br>
529 Gladfelter Hall<br>
<a href="tel:2152041089">(215)204-1089</a><br>
<a href="mailto:crosen@temple.edu">crosen@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Professor Jamie Fader<br>
552 Gladfelter Hall<br>
<a href="mailto:jfader@temple.edu">jfader@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Jessica Brennan<br>
708 Gladfelter Hall<br>
<a href="tel:2152047577">(215) 204-7577</a><br>
<a href="mailto:jessica.brennan@temple.edu">jessica.brennan@temple.edu</a></p>
<hr>
<p><strong>Assistant Administrator:</strong><br>
Tycina Lefwich<br>
508 Gladfelter Hall<br>
<a href="tel:2152041376">(215)-204-1376</a><br>
<a href="mailto:tcousin@temple.edu">tcousin@temple.edu</a></p>
<hr>
<script type="text/javascript" src="https://form.jotform.com/jsform/82205231788154"></script>
