<p><strong>Department Chair:</strong><br>
Professor Cathy Rosen<br>
529 Gladfelter Hall<br>
<a href="tel:2152041089">(215)204-1089</a><br>
<a href="mailto:crosen@temple.edu">crosen@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair:</strong><br>
Professor Elizabeth Groff<br>
531 Gladfelter Hall<br>
<a href="mailto:groff@temple.edu">groff@temple.edu</a></p>
<hr>
<p><strong>Graduate Coordinator:</strong><br>
Jenise Ly<br>
522 Gladfelter Hall<br>
<a href="tel:2152049028">(215) 204-9028</a><br>
<a href="mailto:jenise.ly@temple.edu">jenise.ly@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Joseph DelMastro<br>
509 Gladfelter Hall<br>
<a href="tel:2152041376">(215) 204-1376</a><br>
<a href="mailto:joseph.delmastro@temple.edu">joseph.delmastro@temple.edu</a></p>
