<p><strong>Chair:</strong><br>
Cathy Rosen<br>
529 Gladfelter Hall<br>
<a href="tel:2152041089">(215)204-1089</a><br>
<a href="mailto:crosen@temple.edu">crosen@temple.edu</a></p>
<hr>
<p><strong>Undergraduate Chair:</strong><br>
Jennifer Wood<br>
548 Gladfelter Hall<br>
<a href="tel:2152048055">(215)204-8055</a><br>
<a href="mailto:woodj@temple.edu">woodj@temple.edu</a></p>
<hr>
<p><strong>Assistant Administrator:</strong><br>
Tycina Lefwich<br>
508 Gladfelter Hall<br>
<a href="tel:2152041376">(215)-204-1376</a><br>
<a href="mailto:tcousin@temple.edu">tcousin@temple.edu</a></p>
