<div>
  <h2>Graduate Faculty</h2>
  <p>Short paragraph about the Graduate Faculty. Who is the audience and why are they listed here.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/auerhahn-kate" title="Kate Auerhahn">Kate Auerhahn</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/belenko-steven" title="Steven Belenko">Steven Belenko</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie" title="Jamie Fader">Jamie Fader</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth" title="Elizabeth Groff">Elizabeth Groff</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hiller-matt" title="Matt Hiller">Matt Hiller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/olaghere-ajima" title="Ajima Olaghere">Ajima Olaghere</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ratcliffe-jerry" title="Jerry Ratcliffe">Jerry Ratcliffe</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul" title="Aunshul Rege">Aunshul Rege</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/roman-caterina" title="Caterina Roman">Caterina Roman</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <ul>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy" title="Cathy Rosen">Cathy Rosen</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/taylor-ralph" title="Ralph Taylor">Ralph Taylor</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/van-cleve-nicole" title="Nicole Van Cleve">Nicole Van Cleve</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/v-lcic-e-rely" title="E. Rely Vîlcică">E. Rely Vîlcică</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ward-jeffrey-t" title="Jeffrey T. Ward">Jeffrey T. Ward</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/welsh-wayne" title="Wayne Welsh">Wayne Welsh</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/wooditch-alese" title="Alese Wooditch">Alese Wooditch</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
