<div>
  <h2>Graduate Faculty</h2>
  <p>Our world-renowned faculty are committed to helping students develop professional competence in oral and written communication and gain the analytical thinking and logic skills necessary to succeed out in the field, the classroom and beyond. You can view a complete list of our <a href="https://liberalarts.temple.edu/sites/liberalarts/files/Criminal%20Justice%20Faculty%20Publications.pdf">Faculty Publications.</a></p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/auerhahn-kate" title="Kate Auerhahn">Kate Auerhahn</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/belenko-steven" title="Steven Belenko">Steven Belenko</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/fader-jamie" title="Jamie Fader">Jamie Fader</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/groff-elizabeth" title="Elizabeth Groff">Elizabeth Groff</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/hiller-matt" title="Matt Hiller">Matt Hiller</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/jones-peter" title="Peter Jones">Peter Jones</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/olaghere-ajima" title="Ajima Olaghere">Ajima Olaghere</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/ratcliffe-jerry" title="Jerry Ratcliffe">Jerry Ratcliffe</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/rege-aunshul" title="Aunshul Rege">Aunshul Rege</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/roman-caterina" title="Caterina Roman">Caterina Roman</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <ul>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/rosen-cathy" title="Cathy Rosen">Cathy Rosen</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/taylor-ralph" title="Ralph Taylor">Ralph Taylor</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/v-lcic-e-rely" title="E. Rely Vîlcică">E. Rely Vîlcică</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/ward-jeffrey-t" title="Jeffrey T. Ward">Jeffrey T. Ward</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/welsh-wayne" title="Wayne Welsh">Wayne Welsh</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/windisch-steven" title="Steven Windisch">Steven Windisch</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/wood-jennifer" title="Jennifer Wood">Jennifer Wood</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/wooditch-alese" title="Alese Wooditch">Alese Wooditch</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/zaatut-amarat" title="Amarat Zaatut">Amarat Zaatut</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
